* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* .jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
} */

/* ! navbar-slider section */
#navbar-slider-section {
  /* width: 100vw; */
  overflow: hidden;
  background-color: #f5f5f5;
}

/* navbar */
nav {
  width: 100vw;
  /* height: 2rem; */
  position: fixed;
  top: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transition: top 0.5s ease;
}

#logo {
  margin-left: 2rem;
}

#logo img {
  height: 1.25rem;
  display: block;
}

#nav-items {
  display: flex;
  column-gap: 3rem;
}

#nav-items a {
  color: #111111;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease; 
  position: relative;
}

#nav-icons{
  display: flex;
  column-gap: 0.5rem;
  margin-right: 2rem;
}

#nav-icons svg {
  width: 24px;
  height: 24px;
  position: relative;
  display: block;
  cursor: pointer;
}

#search {
  position: relative;
  display: inline-block;
}

#search .close-search-icon.hidden{
  display: none;
}

#search .search-icon.hidden{
  display: none;
} 

.search-input {
  width: 0;
  height: 1.75rem;
  border: 0.125rem solid #d0473e;
  border-radius: 1.25rem;
  padding: 0 0.625rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  transition: width 0.4s ease, opacity 0.4s ease;
  background-color: #ffffff;
  color: #555555;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #999;
}

#search.active .search-input {
  width: 12.5rem; 
  opacity: 1;
}

#search.active .close-search-icon path{
  stroke: #d0473e;
}

#nav-items a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d0473e;
  transition: width 0.4s ease;
}

#nav-items a:hover::after {
  width: 100%;
}

#nav-items a.active::after {
  width: 100%;
}

#nav-items a:hover {
  color: #d0473e;
}

#nav-items a:active,
#nav-items a.active { 
  color: #d0473e;
}

/* #nav-items.hidden {
  display: none;
} */

/*-----------------------------------------------------------*/
#menu-icon {
  display: none;
  width: 25px;
  height: 25px;
}

#menu-panel {
  position: fixed;
  top: 0;
  left: 0; 
  width: 20rem; 
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.1);
  transform: translateX(-100%); 
  transition: transform 0.5s ease-in-out;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

#menu-panel.open {
  transform: translateX(0);
}

#menu-panel.hidden {
  display: none;
}

#menu-header {
  padding: 0.65rem;
  border-bottom: 1px solid #555555;
  display: flex;
  align-items: center;
}

#menu-header h2 {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

#menu-close-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#menu-body {
  height: 100%;
  text-align: start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  row-gap: 1rem;
}

#menu-body a {
  width: 80%;
  padding: 0.5rem 0;
  position: relative;
  color: #111111;
  border-bottom: 1px solid #999;
  text-decoration: none;
}

#menu-body div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-body div a {
  color: #f5f5f5;
}

#menu-panel .popup-btn:hover {
  background-color: initial;
  color: initial;
}


/*-----------------------------------------------------------*/

.icon path {
  stroke: #111111;
  transition: stroke 0.3s ease;
}  

#nav-icons .icon:hover path {
  stroke: #d0473e;
}
#nav-icons .icon:active path {
  stroke: #d0473e;
}

#login {
  position: relative;
}

.popup {
  position: absolute;
  top: 2.5rem; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 0.0625rem solid #555555; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  padding: 0.625rem; 
  display: flex;
  flex-direction: column;
  width: 10rem; 
  border-radius: 0.4rem; 
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.popup.hidden {
  display: none;
}

.popup-btn {
  padding: 0.5rem; 
  margin: 0.5rem 0; 
  background-color: #d0473e;
  color: #ffffff;
  border: 1px solid #d0473e;
  cursor: pointer;
  border-radius: 0.3rem; 
  transition: background-color 0.3s ease;
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
}

.popup-btn:hover {
  background-color: #ffffff;
  color: #111111;
}

.popup::before {
  content: "";
  position: absolute;
  top: -0.625rem; 
  left: 50%;
  transform: translateX(-50%);
  border-left: 0.625rem solid transparent; 
  border-right: 0.625rem solid transparent; 
  border-bottom: 0.625rem solid #555555; 
  z-index: 9;
}

/* shopping cart panel */
.cart-panel {
  position: absolute;
  top: 0;
  right: 0; 
  width: 25rem; 
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -0.25rem 0 0.5rem rgba(0, 0, 0, 0.1);
  transform: translateX(100%); 
  transition: transform 0.5s ease-in-out;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

#cart-panel.open {
  transform: translateX(0);
}

.cart-panel.hidden {
  display: none;
}

.cart-header {
  padding: 0.9rem;
  border-bottom: 1px solid #555555;
  display: flex;
  align-items: center;
}

.cart-header h2 {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.close-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-body {
  height: 100%;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart-img {
  width: 10rem; 
  margin-bottom: 1rem;
}

.empty-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.suggestion-text {
  font-size: 1rem;
  color: #555555;
  margin-top: 0.5rem;
}


/* slider  */
#slider {
  height: calc(100vh - 4rem);
  margin-top: 3.5rem;
  position: relative;
  background-color: #f5f5f5;
}

/* #slider .list {
  position: relative;
} */

#slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  filter: blur(5px); 
  z-index: 1;
  transition: opacity 0.7s ease-in-out, filter 0.7s ease-in-out; 
}

#slider .list .item.active {
  filter: blur(0); 
  opacity: 1; 
  z-index: 10; 
}

#slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider .list .item::after {
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top, #11111146 0.2%, transparent
  );
}

#slider .list .item .content {
  width: 50%;
  max-width: 80%;
  position: absolute;
  left: 10%;
  top: 20%;
  z-index: 1;
  line-height: 1.2;
  color: #d0473e; 
}

#slider .list .item .content h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0;
}

#slider .list .item .content p {
  font-size: 1.25rem;
  color: #111111;
  font-weight: 400;
  margin: 1rem 0;
}

#slider .list .item .content a {
  width: fit-content;
  display: block;
  background: #111111;
  color: #f5f5f5;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  border-radius: 5rem;
  border: 2px solid #111111;
  padding: 0.75rem 4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

#slider .list .item .content a:hover {
  background-color: transparent;
  color: #111111;
}

@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
#slider .list .item.active h1,
#slider .list .item.active p,
#slider .list .item.active a{
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}
#slider .list .item.active p{
  animation-delay: 1s;
}
#slider .list .item.active a{
  animation-duration: 1.3s;
}



/* ! next-prev buttons css */
.arrows div {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#prev {
  left: -5rem;
}

#next {
  right: -5rem;
}

#slider:hover #prev {
  left: 2.5rem;
}

#slider:hover #next {
  right: 2.5rem;
}

#prev svg, #next svg {
  width: 0.75rem;
  height: 0.75rem;
}

#prev svg {
  margin-right: 3px;
}

#next svg {
  margin-left: 3px;
}

#prev:hover svg, #next:hover svg {
  stroke: #ffffff;
  fill: #ffffff;
}

#prev:hover, #next:hover {
  background-color: #111111;
  color: #ffffff;
}

.responsive-arrows-M {
  display: none;
}



/*! category section */
#category-container {
  width: 100%;
  /* padding: 2rem; */
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  color: #111111;
  font-weight: 400;
}

#category-container h3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

#category-items {
  width: auto;
  height: 30rem;
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* row-gap: 2rem; */
  grid-template-areas: 
  " items-1     items-2     items-4 "
  " items-1     items-3     items-4 "
  ;
  align-items: stretch;
  /* max-height: 80vh; */
  padding: 0 2rem;
}

#category-item-1 {
  grid-area: items-1;
  /* max-height: 30rem;  */
}

#category-item-2 {
  grid-area: items-2;
  /* max-height: 15rem;  */
}

#category-item-3 {
  grid-area: items-3;
  /* max-height: 15rem;  */
}

#category-item-4 {
  grid-area: items-4;
  /* max-height: 30rem;  */
}

#category-items img:hover {
  transform: scale(1.1);
}

#category-item-1 img, #category-item-2 img, #category-item-3 img, #category-item-4 img {
  width: 100%; 
  height: 100%;
  object-fit: cover;   
  transition: transform 0.5s ease-in;
}

#category-item-1, #category-item-2, #category-item-3, #category-item-4 {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
}

.category-button {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  border: none;
  border-radius: 5rem;
  background-color: #ffffff; 
  font-size: 0.8rem;
  font-weight: 500;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #d0473e;
  color: #f5f5f5;
}

/* ! trending section */
#trending-container {
  width: 100%;
  height: auto;
  padding: 2rem 0.75rem;
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  color: #111111;
  font-weight: 400;
  background-color: #f5f5f5;
  overflow: hidden;
  /* box-shadow: 0 -6px 17px rgba(240, 237, 232, 0.15), 0 6px 17px rgba(240, 237, 232, 0.15);  */
}

#trending-container h3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

#trending-container .lazy-slider {
  width: 100%;
  margin: 0 auto;
}

#trending-slider .slider-item {
  overflow: hidden; 
  border-radius: 0.75rem; 
}

#trending-slider .slider-image {
  width: auto;
  height: 24rem;
  position: relative;
  margin: 1rem;
  overflow: hidden; 
  border-radius: 0.75rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.1);
}

#trending-slider .slider-image img {
  width: 100%;
  height: 100%;
  margin: 0; 
  object-fit: cover;
  display: block;
  transition: all 0.8s ease; 
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  opacity: 0;
  transition: all 0.3s ease; 
  transform: scale(1); 
  cursor: pointer;
} 

.image-hover-effect:hover .hover-image {
  opacity: 1;
  transform: scale(1.1); 
}

.image-hover-effect:hover .main-image {
  opacity: 0;
}

.trending-icons {
  position: absolute;
  top: 1rem;
  right: -1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  z-index: 30;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.trending-icons div {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-icons svg {
  width: 40%;
  height: 40%;
}

.trending-icons div:nth-child(1):hover {
  background-color: #111111;
}

.trending-icons div:nth-child(2):hover {
  background-color: #111111;
}

.trending-icons div:nth-child(1):hover  path {
  stroke: #f5f5f5;
}

.trending-icons div:nth-child(2):hover  path {
  fill: #f5f5f5;
  stroke: #f5f5f5;
}

.image-hover-effect:hover .trending-icons {
  right: 1rem;
  opacity: 1;
}

.trending-button {
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  right: 1rem;
  z-index: 30;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 0.75rem;
  border: none;
  border-radius: 5rem;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease;
}

.trending-button a {
  color: #111111;
  text-decoration: none;
}

.trending-button:hover {
  background-color: #d0473e;
}

.trending-button:hover a {
  color: #f5f5f5;
}

.image-hover-effect:hover .trending-button {
  bottom: 1rem;
  opacity: 1;
}

.trending-product-infos {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #111111;
  margin: 1rem;
  padding-left: 1rem;
}

.product-name a {
  text-decoration: none; 
  color: inherit; 
}

.product-price {
  font-size: 0.75rem;
}

.slick-arrow {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.slick-prev {
  left: -5rem;
}

.slick-next {
  right: -5rem;
}

#trending-slider:hover .slick-prev {
  left: 2.5rem;
}

#trending-slider:hover .slick-next {
  right: 2.5rem;
}

.slick-prev svg, .slick-next svg {
  width: 0.75rem;
  height: 0.75rem;
}

.slick-prev svg {
  margin-right: 3px;
}

.slick-next svg {
  margin-left: 3px;
}

.slick-prev:hover svg, .slick-next:hover svg {
  stroke: #ffffff;
  fill: #ffffff;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #111111;
  color: #ffffff;
}

.hidden {
  display: none;
}



/* ! collection section */
#collection-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  padding-bottom: 2rem;
}

#collection-container h3 {
  /* height: auto; */
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

#collection-items {
  width: 95%;
  height: 30rem;
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  position: relative;
}

.collection-card {
  width: 31%;
  height: 100%;
  position: relative;
  border: none;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.collection-card:hover img {
  transform: scale(1.1);
}

.collection-image img {
  width: 100%;
  border: none;
  border-radius: 0.75rem;
  object-fit: cover;   
  transition: transform 0.5s ease-out;
}

.collection-image {
  height: 100%;
  display: flex;
}

.collection-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
  overflow: hidden;
  font-weight: 400;
}

.collection-title p {
  font-size: 2.2rem;
  cursor: text;
  line-height: 1.1;
}

.collection-title a {
  width: max-content;
  position: relative;
  font-size: 0.9rem;
  cursor: pointer;
  color: #111111;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.collection-title a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-out, left 0.3s ease-out;
}

.collection-card:hover .collection-title a::before {
  left: 0;
  width: 100%;
}

.collection-title a:visited {
  color: #111111; 
}

#collection-items-2 {
  width: 100%;
  height: 20rem;
  display: flex;
  column-gap: 0.5rem;
}

.collection-card-2 {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.collection-card-2:hover img{
  transform: scale(1.1);
}

.collection-title-2 {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  color: #111111;
}

.collection-image-2 img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.25rem;
  object-fit: cover;   
  transition: transform 0.5s ease-out;
}

.collection-title-2 p:nth-child(1) {
  font-size: 0.75rem;
  font-weight: 600;
}

.collection-title-2 p:nth-child(2) {
  font-size: 2.75rem;
  font-weight: 400;
}

.collection-title-2 p:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
}

.collection-title-2 a {
  width: max-content;
  padding: 0.5rem 3rem;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #111111;
  border: 2px solid #111111;
  border-radius: 5rem;
  cursor: pointer;
}

.collection-title-2 a:hover {
  color: #111111;
  background-color: #f5f5f5;
} 

/* ! footer section */
footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-top: 3rem;
  background-color: #f5f5f5;
}

#footer-part-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* column-gap: 2rem; */
}

#footer-part-1 h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

#footer-part-1 p, #footer-part-1 a  {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #555555;
}

#footer-part-1 a:hover {
  color: #d0473e;
}

#about-us {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#store-detail {
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
}

#location {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

#location svg {
  width: 1rem;
  height: 1rem;
}

#phone {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

#phone svg {
  width: 1rem;
  height: 1rem;
}

#navigation {
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#customer-service {
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#contact-us {
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#follow-us {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#social-media-icons {
  display: flex;
  justify-content: space-between;
}

#social-media-icons div {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem; */
  border: 2px solid #555555;
  border-radius: 50%;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

#social-media-icons svg {
  width: 1rem;
  height: 1rem;
}

#social-media-icons div:hover {
  border-color: #d0473e;
} 

#social-media-icons path {
  fill: #555555;
  transition: fill 0.3s ease;
}

#social-media-icons div:hover path {
  fill: #d0473e;
}

#footer-part-2 {
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
  color: #555555;
  border-top: 1px solid #555555;
}

#footer-part-2 img {
  width: 2rem;
  height: auto;
}

.subscribe-input {
  background-color: transparent;
  border: 2px solid #555555;
  border-radius: 5rem;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
}
 
.subscribe-input:hover,
.subscribe-input:focus {
  border-color: #d0473e;
} 

.subscribe-button {
  background-color: #555555;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: #f5f5f5;
  cursor: pointer;
} 

.subscribe-button:hover {
  background-color: #d0473e;
  color: #f5f5f5;
}

